
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.description-main p{
    font-family: 'Open Sans', sans-serif;
}
.description-main{
    width: 30%;
    padding-left: 50px;
    padding-bottom: 50px;
}

.main-container{
    height: 600px;
    background-color:rgb(145, 189, 229);
    position: relative;
}

.img-jumbo{
    width: 60%;

    position: absolute;
    left: 40%;
    top: 40%;
}

.big-title{

    padding: 40px;
  
    font-size: 2.1em;
    font-size: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

p.blue-square.start2{
    text-align: center;
    margin: 10px 0;
}

.blue-square{
    background-color: blue;
    color: white;
    padding: 8px;
    
}

.start1{
    margin-left: 20px;
}

.logo{
    margin: 10px;
    padding-top: 8px;
}

.dx-menu,
.sx-menu{
    margin: 15px;   
}

.dx-menu{
    padding-top: 8px;
}

nav li{
    display: inline-block;
}

li{
    padding-left: 30px;
    font-family:'Open Sans', sans-serif;
    font-size: smaller;
}

header{
    height: 80px;
    background-color: white;
}





















.fr{
    float:right;
}

.fl{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
